.tweet-img-div {
  width: 14%;
  border-radius: 50%;
}
.profile-box {
  background: white;
  height: 95vh;
}
.tweet-img-div:hover {
  background-color: #dcdfe0;
  width: 14%;
  border-radius: 50%;
}

.tweet-btn-lg {
  background-color: #1DA1F2;
  width: 8rem;
  height: 2.5rem;
  color: white;
  border-radius: 50px;
  border-color: none;
  border: none;
  font-weight: bold;
}

.update-btn:hover {
  background-color: #028fe6;
}
