.error {
  border-color: red;
}
.alert {
  border-color: yellowgreen;
}
.tweet-btn {
  background-color: #1DA1F2;
  width: 5rem;
  height: 2.5rem;
  color: white;
  border-radius: 50px;
  border-color: none;
  border: none;
  font-weight: bold;
}

.tweet-btn:hover {
	background-color: #028fe6;
}

.tweet-file-input {
  display: none;
}
.bi-image-fill {
  font-size: 2rem;
}
.tweet-img {
  height: 100%;
  width: 7%;
}
.tweet-img:hover {
  background-color: #dcdfe0;
  border-radius: 50%;
}
